
body{
	background-image:url(images/leather_1.png);
	font-family:Arial, Helvetica,"微軟正黑體" ,sans-serif;
	text-align:center;
}

.box{
	width:100px;
	height:100px;
	background-color:#FFF;
	padding:30px;
	border:20px solid #009DDA;
	margin-bottom:30px;
	position:relative;	
}

.box h1{
	font-size:80px;
	margin:0;
	text-align:center;
	line-height:100px;
	color:#999;
}